.mine-options {
  .mine-option {
    width: 42.5%!important;
    padding: 0.7rem 0.5rem;
    margin-left: 5%;
    font-size: 0.4rem;
    border: none;
    .glyphicon {
      color: #337ab7;
      margin-right: 0.2rem;
    }
  }
}
