div.panel.panel-default {
  background-color: #f8f8f8;
  border: none;
  box-shadow: none;
}

.good-base {
  background-color: #fff;
  border-radius: 5px;
  margin: 0.2rem auto;
  width: 95%;
  padding: 0.1rem 0.3rem;

  .detail-price {
    color: #f97d93;
  }

  .good-label {
    padding: 4px 6px;
    margin: 0 3px;
    color: #f97d93;
    background-color: #fff0f3;
    border-radius: 5px;
  }
}

.owner-msg {
  background-color: #fff;
  border-radius: 5px;
  margin: 0.2rem auto;
  width: 95%;
  padding: 0.2rem 0.2rem;

  .owner-img {
    width: 1rem;
    border-radius: 1rem;
  }

  .owner-name {
    margin: 0 0.2rem;
    font-weight: 700;
    font-size: .4rem;
  }

  .owner-grade {
    color: #f97d93;
  }

  .owner-btn {
    margin: 0 0 0 0.1rem;
  }
}

.comment-box {
  background-color: #fff;
  border-radius: 5px;
  margin: 0.2rem auto;
  width: 95%;
  padding: 0.2rem 0.3rem;

  .comments-content {
    font-size: 0.32rem;

    p {
      margin: 0;
    }

    .one-comment {
      margin: 0.4rem 0;

      .comment-label {
        padding: 4px 6px;
        margin: 0 3px;
        color: #f97d93;
        background-color: #fff0f3;
        border-radius: 5px;
      }
    }
  }
}